[submodule "themes/hugo-nuo"]
	path = themes/hugo-nuo
	url = git@github.com:laozhu/hugo-nuo.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:leidsondias/leidsondias.github.io.git
[submodule "leidsondias.github.io"]
	path = leidsondias.github.io
	url = git@github.com:leidsondias/leidsondias.github.io.git
